<div id="content" class="page--products">
    <h1 ng-bind="m._('ui','products')"></h1>

    <div class="col col-1">
        <div class="list" ng-init="tab=0">
            <div class="item first"
                 ng-click="tab=0"
                 ng-class="{'active':tab == 0,'before-active':tab == 1}">Environmental performance
            </div>
            <div class="item"
                 ng-click="tab=1"
                 ng-class="{'active':tab == 1,'before-active':tab == 2}">Atmospheric protection
            </div>
            <div class="item"
                 ng-click="tab=2"
                 ng-class="{'active':tab == 2,'before-active':tab == 3}">Protection of water basin
            </div>
            <div class="item"
                 ng-click="tab=3"
                 ng-class="{'active':tab == 3,'before-active':tab == 4}">High recycling rate
            </div>
            <div class="item"
                 ng-click="tab=4"
                 ng-class="{'active':tab == 4,'before-active':tab == 5}">Energy efficient production
            </div>
            <div class="item last"
                 ng-click="tab=5"
                 ng-class="{'active':tab == 5,'before-active':tab == 6}">Environmental programme 2020
            </div>
        </div>
    </div>
    <div class="col col-2">
        <div class="container">
            <div class="scroll-content" p-scroll reset="tab">
                <div class="text" ng-show="tab==0">
                    <h2>Efficient production in harmony with nature</h2>

                    <div class="scroll-paragraph">
                        <p>
                            NLMK Group is one of the most advanced steelmaking companies in the world in relation to the environment. NLMK is committed to ongoing efforts to minimise its environmental impact and achieving best-in-class environmental performance.
                        </p>

                        <p>
                            NLMK Group investedover $1.1 billionin environmental initiatives from 2001 to 2014. During this period, the Company almost doubled production and became the largest steelmaker in Russia.
                        </p>

                        <p>NLMK Group accounts for21% of Russias steel production.</p>

                    </div>

                    <h2>Key results</h2>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/1_1_eng.png" alt=""/>
                    <br/>
                    <br/>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/1_2_eng.png" alt=""/>
                    <br/>
                    <br/>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/1_3_eng.png" alt=""/>
                    <br/>
                    <br/>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/1_4_eng.png" alt=""/>
                    <br/>
                    <br/>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/1_5_eng.png" alt=""/>
                    <br/>

                </div>
                <div class="text" ng-show="tab==1">
                    <h2>Atmospheric protection</h2>

                    <p style="font-size: 18px;">
                        NLMK Group companies almost halved their emission rates over the last eight years and are now very close to the level of best available technology.
                    </p>


                    <p style="font-size: 18px;">
                        Lipetsk, home to 80% of NLMK Group’s production facilities, has been officially recognised as the least polluted regional capital within Russia’s Central Black Earth economic area and number one in the environmental friendliness listing for Russian cities with steelmaking as the mainstay of the economy. In the integrated air pollution index, Lipetsk registered the strong result of 3.4 in 2014, which is two thirds of the 2013 level and one tenth of the level 23 years ago when Russia’s Ministry of Natural Resources and Environment began measurements.

                    </p>

                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/2_1_eng.png" alt=""/>
                    <br/>
                    <br/>

                    <h2 ng-class="{'open':p1}" ng-click="p1=!p1">Clean air on site </h2>

                    <div ng-show="p1">
                        <p style="font-size: 18px;">
                            NLMK Group has been taking steps to reduce its impact on air quality for many years, improving working conditions and creating a clean environment in surrounding areas.
                        </p>

                        <p style="font-size: 18px;">
                            These projects have already made an impact: despite almost doubling steel production since 2000, NLMK Group companies were able to nearly halve emissions, to 20.3 kg per tonne of steel, which is very close to the best available technology level of 18.9 kg per tonne.
                        </p>

                        <h3>State-of-the-art technology for reducing emissions</h3>

                        <p style="font-size: 18px;">
                            In 2014 NLMK Group embarked on a large-scale project enabled by Siemens VAI to upgrade exhaust ducts and systems for capturing and cleaning emissions at Novolipetsk’s BOF shop.
                        </p>

                        <p style="font-size: 18px;">
                            The improvements are expected to cut the shop’s emissions by more than half.
                        </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/2_1.jpg" alt=""/>
                        <h3>High-efficiency gas treatment at blast furnace shop</h3>

                        <p style="font-size: 18px;">
                            A number of gas cleaning equipment installation projects are underway at Novolipetsk’s blast furnace shop. These projects will reduce exhaust gas dust tens of times.
                        </p>
                        <h4>Blast furnace No. 6 </h4>

                        <p style="font-size: 18px;">
                            A new gas cleaning system for blast furnace No. 6 will improve blast furnace gas cleaning efficiency  five-fold.
                        </p>
                        <h4>Blast furnace No. 4</h4>

                        <p style="font-size: 18px;">
                            A new modular dust collection system for blast furnace No. 4 will reduce residual dust to 5 mg per cubic metre, one thirtieth of the current level, allowing annual dust emissions to be cut by 504 tonnes and thus achieve the level of best available technology.
                        </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/2_2.jpg" alt=""/>
                        <h3>Large-scale project to revamp refractory shop air cleaning systems </h3>

                        <p style="font-size: 18px;">After a thorough analysis of all dust sources, NLMK identified a set of priority measures to reduce dust emissions, launching a number of projects in the refractory shop.  </p>

                        <p style="font-size: 18px;">An upgrade of the dust collection system helped reduce the amount of residual dust in off-gas to one tenth of the former level and cut gross dust emissions by 54 tonnes.</p>

                        <p style="font-size: 18px;">Novolipetsk completed a revamp of a dust suppression system in the open-air section of the bulk material storage facility used by the refractory shop, which will reduce limestone dust emissions by 72 tonnes a year. The project will include installation of fog cannons covering the entire area of the storage facility.</p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/2_3.jpg" alt=""/>
                    </div>
                    <h2 ng-class="{'open':p2}" ng-click="p2=!p2">Blast furnace No. 7: the most advanced blast furnace in Russia </h2>

                    <div ng-show="p2">
                        <p style="font-size: 18px;">
                        <ul>
                            <li>Productivity: 4.2 million tonnes of pig iron a year</li>
                            <li>Investment in the project: more than 43 billion rubles</li>
                            <li>First batch of pig iron made in 2011</li>
                        </ul>
                        </p>
                        <p style="font-size: 18px;">Blast furnace No. 7 is the first and only blast furnace built in 25 years of post-Soviet  Russia. By launching the furnace and building a new BOF, the Lipetsk site was able to increase steel production by 36% to 12.4 million tonnes. The pig iron produced by blast furnace No. 7 is used by NLMK’s BOF operations to make various grades of steel. </p>

                        <h3>Blast furnace No. 7</h3>

                        <p style="font-size: 18px;">
                        <ul>
                            <li>The blast furnace was built using the most advanced, innovative technical solutions developed by leading Russian and international engineering companies.
                            </li>
                            <li>A total of around 40 Russian and 30 international companies took part in designing and building the furnace and supplying equipment.
                            </li>
                            <li>The production process is based on the best available environmental and resource efficient technologies, including highly efficient dust collection and closed loop water systems.
                            </li>
                            <li>Thanks to the state-of-the-art technical solutions the overall emissions level is equal to less than 0.5% of that of other blast furnaces employed in the steelmaking industry.
                            </li>
                        </ul>
                        </p>
                        <p style="font-size: 18px;">A new 150 MW recovery cogeneration plant uses the blast furnace’s gas to generate power.</p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/2_4.png" alt=""/>
                    </div>
                    <h2 ng-class="{'open':p3}" ng-click="p3=!p3">Lipetsk: the least polluted city</h2>

                    <div ng-show="p3">
                        <p style="font-size: 18px;">Lipetsk has been officially recognised as the least-polluted region capital in Russia’s Central Black Earth economic area; and number one in the list of environmentally friendly Russian cities with steelmaking as the mainstay of the economy. </p>

                        <p style="font-size: 18px;">Experts believe that the record low IAPI level in Lipetsk is largely due to the successful and ongoing efforts to reduce Novolipetsk’s environmental impact as part of the Group’s Environmental Programme 2020. </p>

                        <p style="font-size: 18px;">The integrated air pollution index (IAPI) was developed and is measured by the Federal Service for Hydrometeorology and Environmental Monitoring (Roshydromet)and is used to assess the level of air pollution in Russian cities by the Ministry of Natural Resources and the Environment.
                           In 2014 the integrated air pollution index in Lipetsk fell to 3.4, two thirds of the figure recorded in 2013 (5.1) and an all-time low since measurements began in 1991 (33.9).
                        </p>

                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/2_2_eng.png" alt=""/>
                        <br/>
                        <br/>
                        <p style="font-size: 18px;">Lipetsk has thus been officially recognised as the least polluted region capital in Russia’s Central Black Earth economic area and the most environmentally friendly Russian steelmaking city, outstripping Cherepovets (3.9), Nizhny Tagil (7), Magnitogorsk (13) and Novokuznetsk (17), which are also home to major steelmaking companies. </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/2_3_eng.png" alt=""/>
                        <br/>
                        <br/>
                    </div>
                    <h2 ng-class="{'open':p4}" ng-click="p4=!p4">Water free slag cooling technology</h2>

                    <div ng-show="p4">
                        <p style="font-size: 18px;">In 2015 Novolipetsk launched a new blast furnace slag recycling facility to switch to water free slag cooling and to minimise hydrogen sulphide emissions.</p>

                        <p style="font-size: 18px;">The slag sites previously used and the operations schedule at Novolipetsk did not make it possible for the plant to completely eliminate the use of water in the slag cooling process, which results in the release of hydrogen sulphide, a gas with a recognisable unpleasant odour given off when hot slag comes into contact with water.</p>

                        <p style="font-size: 18px;">The area used for cooling slag was expanded from 8,000 to 20,000 square metres and the plant made a complete switch to the new water-less blast furnace slag cooling technology.  </p>

                        <p style="font-size: 18px;">A total of 360 million rubles was invested in the project.</p>

                    </div>


                </div>
                <div class="text" ng-show="tab==2">
                    <h2>Sustainable management of water resources</h2>

                    <p style="font-size: 18px;">NLMK Group has reduced discharge of pollutants into water toless than 2% of the 2007 level, zeroing them altogether at most facilities. </p>

                    <p style="font-size: 18px;">The Lipetsk site, which produces 80% of the Group’s output, as well as Altai-Koks, Stoilensky, NLMK Kaluga and VIZ-Steel, have deployed closed loop water systems, which means zero liquid discharge.</p>

                    <p style="font-size: 18px;">The Group consumes two and a half times less water compared to 2008, with the current per unit level of water consumption being 25% lower than the best available technology for vertically integrated steelmaking operations. </p>

                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/3_1_eng.png" alt=""/>
                    <br/>
                    <br/>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/3_2_eng.png" alt=""/>
                    <br/>
                    <br/>

                    <h2 ng-class="{'open':p5}" ng-click="p5=!p5">Zero discharges into water: NLMK Group companies introduce a closed loop water system</h2>

                    <div ng-show="p5">
                        <p style="font-size: 18px;">NLMK Group companies have almost zeroed discharges into water. The Lipetsk site stopped dumping waste water into the Voronezh River in 2009. </p>

                        <p style="font-size: 18px;">This has been made possible by introducing a closed loop water system where the water used in the production process is treated and then reused.</p>

                        <h3>World’s first zero waste water system</h3>

                        <p style="font-size: 18px;">NLMK Group’s VIZ-Steel in Sverdlovsk Region was the first steel company in the world to develop and implement a zero waste water management system in 1973, addressing an important environmental safety issue. The plant started reusing its water, which enabled it to completely stop discharges into Verkh-Isetsky Pond, Yekaterinburg’s main source of drinking water. </p>
                        <!--<img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/3_2.jpg" alt=""/>-->

                        <h3>A model water management system</h3>

                        <p style="font-size: 18px;">In 2008 in the city of Berezovsky NSMMZ launched a mill shop waste water treatment unit which is still a model eco-friendly approach to the use of water and energy resources. </p>

                        <p style="font-size: 18px;">NSMMZ now uses state-of-the-art technology with water circulating in a closed loop system, which makes it possible to completely avoid discharge into water bodies. </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/3_2.jpg" alt=""/>
                        <h3>Zero discharge into water bodies</h3>

                        <p style="font-size: 18px;">In 2009 Novolipetsk stopped discharges of industrial waste water into the Voronezh River, reducing consumption of river water by two thirds. The company was able to maximise its environmental performance by substantially upgrading the industrial water supply system and developing a new flow sheet. </p>

                        <p style="font-size: 18px;">The project included construction of a new pipeline system and launch of new pump stations, as well as renovation of the existing ones. This helped improve waste water quality, making it possible to reuse waste water rather than taking in fresh river water. </p>

                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/3_3.jpg" alt=""/>
                    </div>
                    <h2 ng-class="{'open':p6}" ng-click="p6=!p6">State-of-the-art Russian biochemical technology for the steelmaking industry</h2>

                    <div ng-show="p6">
                        <p style="font-size: 18px;">NLMK Group has built a biological waste water treatment system employing unique environmentally-friendly technology for treating coke plant waste water at the Lipetsk site.</p>

                        <p style="font-size: 18px;">The system is unique for Russia, and is based on integrated biological waste water treatment technology developed by Russian researchers.</p>

                        <p style="font-size: 18px;">The Lipetsk site introduced a water management technology in 2009 where all industrial waste water and storm water circulates in a closed loop water system, going through multi-stage treatment for reuse in the production process. The plant does not discharge any waste water.</p>

                        <p style="font-size: 18px;">The new biological waste water treatment system has a capacity of 160 cubic metres per hour, employing the best available technology to help provide a twenty-fold increase in the efficiency of the coke plant’s waste water treatment by reusing waste water. </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/3_4.jpg" alt=""/>
                        <p style="font-size: 18px;">The unique integrated biological waste water treatment technology developed by Russian researchers removes phenols, thiocyanates, ammoniacal nitrogen and its oxidised forms (nitrites and nitrates) in a single stage, while earlier the process included multiple stages. After eliminating the need to use more traditional methods, the plant is now able to remove up to 95% of nitrites and nitrates from waste water. </p>

                        <p style="font-size: 18px;">As all structures and utilities are raised above the ground, on an isolated hard stand with water drains for storm water, melt water and drainage water. This helps to eliminate the risk of pollutants being discharged into groundwater in case of tank rupture.</p>
                    </div>
                    <h2 ng-class="{'open':p7}" ng-click="p7=!p7">Swan Lake Park: a natural indicator of clean environment at Novolipetsk</h2>

                    <div ng-show="p7">
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/3_5.jpg" alt=""/>
                        <p style="font-size: 18px;">Created by Novolipetsk employees in 1978, Swan Lake Park is a unique place for conserving and growing the populations of rare and endangered birds. It is the only park of its kind in Russia and neighbouring countries to be located in an industrial area. </p>

                        <p style="font-size: 18px;">Today the environmental park is home to 51 species of birds (415 birds in total). Thirty-nine of them are listed in the IUCN Red List of Threatened Species, and seven, in the Convention on International Trade in Endangered Species of Wild Fauna and Flora. The park’s lake, refilled with Novolipetsk’s purified process water, is populated with fish which are the natural food for water birds. </p>

                        <p style="font-size: 18px;">Swan Lake Park has an area of 5.1 ha and is located in the centre of the plant’s site. In winter (between 15 October and 15 April), the water in the lake is heated by a mixture of compressed air and hot steam flowing along the lake bottom to create good living conditions for the water birds.</p>

                        <p style="font-size: 18px;">Swan Lake Park is natural and objective evidence of a clean and favourable environment at the Lipetsk site. </p>
                    </div>
                </div>
                <div class="text" ng-show="tab==3">
                    <h2>High recycling rate</h2>

                    <p style="font-size: 18px;">NLMK Group has a presence in a variety of mining and steelmaking businesses which produce varying amounts of waste; from low levels in steelmaking and industrial minerals to high levels in iron mining.</p>

                    <p style="font-size: 18px;">NLMK companies now reuse much of their waste and the overall recycling rate now exceeds 90%. Production of solid industrial waste has been reduced by 23% since 2007.</p>

                    <p style="font-size: 18px;">In 2004 the Group’s main production site in Lipetsk stopped accumulating waste and tookcomprehensive measures to recycle, reducing the accumulated slag pile by almost 1 million tonnes in 2014. The Company plans to recycle all the waste that accumulated over the years by 2020. </p>

                    <h2 ng-class="{'open':p8}" ng-click="p8=!p8">State-of-the-art technology for processing gangue at Stoilensky </h2>

                    <div ng-show="p8">
                        <p style="font-size: 18px;">Stoilensky, a leading Russian iron ore mining company, in 2013 completed the first phase of a thickening unit; and water reuse and tailings transfer pipeline systems; , thus adopting a more efficient method of processing tailings (gangue) after beneficiation than the one used by the plant earlier.</p>

                        <p style="font-size: 18px;">Within the first 18 months since the completion of the first phase, utilisation of the thickener reached a record high of 0.9 tonnes of slurry per square metre per hour, which is one third higher than the best-in-class level achieved in Canada and the US. </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/4_1.jpg" alt=""/>
                        <p style="font-size: 18px;">Gangue is now thickened and pumped to the tailings pond for storage, and 80% of the water used for transportation is then reused in the beneficiation process. The technology addresses the need for increased capacity of the tailings transfer pipeline system, as well as for storing tailings in places where slurry cannot be transported using a gravity system and where transporting the entire amount of waste water would be inefficient.</p>

                        <p style="font-size: 18px;">The project aimedat adoption of new methods of processing, transporting and storing tailings consists of three phases scheduled for completion in 2013, 2015 and 2017, respectively. Stoilensky plans to fully switch to the new tailings transfer technology by 2018</p>

                        <p style="font-size: 18px;">Thickener No. 1 and infrastructure facilities were built in the first phase of the project; the second and third phases will include three more thickeners and a slurry pumping station, as well as expansion of pumping station No. 3 and installation of extra pumping equipment.</p>
                    </div>
                    <h2 ng-class="{'open':p9}" ng-click="p9=!p9">Giving steel a second life. </h2>

                    <div ng-click="p9=!p9">
                        <p style="font-size: 18px;">NLMK Group plays an important environmental role in Russia by collecting and recycling waste and using steelmaking by-products. NLMK Russia Long EAF plants make products of recycled material –ferrous scrap collected by Vtorchermet NLMK, Russia’s largest and most technically advanced scrap processing company.</p>

                        <p style="font-size: 18px;">Vtorchermet NLMK has more than 250 sites across 34 Russian regions. The annual scrap processing capacity exceeds 3 million tonnes.</p>

                        <p style="font-size: 18px;">Vtorchermet NLMK meets 85% of NSMMZ, NLMK Kaluga and Novolipetsk’s demand for high-quality raw material, while NLMK Group companies in their turn supply a variety of industries with products such as rebar, channel steel, angle bar, wire, fasteners and rolled sheets, giving the scrap metal collected by Vtorchermet NLMK a second life.</p>

                        <p style="font-size: 18px;">Experts estimate that about 23 million tonnes of ferrous scrap is collected in Russia each year. However, steel is an almost 100% recyclable material that can be reused time and again. If it wasn’t for this important property, we would have huge piles of steel accumulated every year.</p>

                        <p style="font-size: 18px;">Recycling helps make the world cleaner – free from piles of scrap metal – and reduces the consumption of natural resources and energy. One tonne of ferrous scrap helps save over 1.5 tonnes of iron ore, sinter and pellets, as well as about 100 cubic metres of natural gas.</p>

                        <p style="font-size: 18px;"><b>Vtorchermet NLMK is the most technologically advanced scrap processing company. </b></p>
                    </div>
                    <h2 ng-class="{'open':p10}" ng-click="p10=!p10">NLMK Kaluga: a steel mill with state-of-the-art environmental technology </h2>

                    <div ng-show="p10">
                        <p style="font-size: 18px;">NLMK Kaluga is a new generation EAF plant and the most productive, energy efficient and environmentally friendly EAF steelmaker.</p>

                        <p style="font-size: 18px;">«This is an extremely advanced, hi-tech plant, which is also very environmentally friendly – this is especially critical for a steel mill. Perhaps, it’s the most environmentally friendly plant in Russia.». - <i>Dmitry Medvedev</i></p>

                        <p style="font-size: 18px;">
                        <ul>
                            <li>Steel melting capacity of 1.5 million tonnes a year</li>
                            <li>Rolled steel capacity of 0.9 million tonnes a year</li>
                            <li>Investment exceeding 38 billion rubles</li>
                            <li>Investment in environmental technology totalling 7.5 billion rubles</li>
                            <li>Filtration systems capturing over99% of hazardous air pollutants</li>
                        </ul>
                        </p>
                        <p style="font-size: 18px;">NLMK Group began building a mill in the Vorsino industrial park, Kaluga Region, in 2008. The plant was opened in 2013. </p>

                        <p style="font-size: 18px;">NLMK Kaluga is a mini-mill that combines an EAF shop with a rolling mill located in close vicinity of feedstock sources and main consumers of finished products.</p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/4_2.jpg" alt=""/>
                        <p style="font-size: 18px;">With investment in environmental technology of 7.5 billion rubles (a fifth of NLMK Group’s total investment in NLMK Kaluga), the plant uses best practice in environmental technology from across Europe to minimise its environmental impact. </p>

                        <p style="font-size: 18px;">
                        <ul>
                            <li>Advanced filtration systems capture > 99% of hazardous air pollutants</li>
                            <li>~ 20% of the amount invested in construction spent on environmental technologies</li>
                            <li>NLMK Kaluga’s scrap recycling plays an important environmental role</li>
                            <li>A closed loop water system helps achieve zero waste water discharge </li>
                            <li>The plant uses unique energy saving systems</li>
                        </ul>
                        </p>

                    </div>
                </div>
                <div class="text" ng-show="tab==4">

                    <h2>Energy efficient production</h2>

                    <p style="font-size: 18px;">NLMK Group has carried out dozens of capital projects to improve energy efficiency since 1999, reducing specific energy use by 20%, which is very close to the level of best available technology.</p>

                    <p style="font-size: 18px;">Own-power generation from by-product gas increased by 3.5 times, and the Lipetsk site is now able to meet 54% of its demand for electricity. This helps achieve energy and production cost savings and reduce the impact on the environment. </p>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/5_1_eng.png" alt=""/>
                    <br/>
                    <br/>

                    <h2 ng-class="{'open':p11}" ng-click="p11=!p11">Green power generation at the Lipetsk site</h2>

                    <div ng-show="p11">
                        <p style="font-size: 18px;">One of NLMK Group’s important environmental priorities is the use of by-products to generate power. At Novolipetsk, the Group’s main site, electricity is generated by blast furnace gas, a by-product of blast furnaces. The amount of power generated in this way has increased by 280% since 1999. In 2014 the company was able to meet 54% of its electricity needs.</p>

                        <h3>Novolipetsk’s in-house power generation</h3>

                        <p style="font-size: 18px;">
                        <ul>
                            <li>Cogeneration plant (332 MW)</li>
                            <li>Recovery cogeneration plant (150 MW)</li>
                            <li>Top-pressure recovery turbine plant (28 MW) </li>
                        </ul>
                        </p>
                        <p style="font-size: 18px;">The cogeneration plant and recovery cogeneration plant: Blast furnace gas produced in the process of making pig iron is fed to the cogeneration plant and recovery cogeneration plant to generate power. Put into operation in 2011, the advanced 150 MW recovery cogeneration plant is fuelled by blast furnace gas from blast furnace No. 7.</p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/5_1.jpg" alt=""/>

                        <p style="font-size: 18px;">Top-pressure recovery turbine plant: Burning blast furnace gas at the recovery cogeneration plant and cogeneration plant is not the only way of generating power at Novolipetsk: it also has a top-pressure recovery turbine (TRT) plant, which combines two TRTs.</p>

                        <p style="font-size: 18px;">The first TRT, which uses gas produced by blast furnace No. 7, was put in operation in 2015. The second one is scheduled to be launched in 2016 and will be fired by gas from blast furnace No. 6. </p>

                        <p style="font-size: 18px;">The TRT plant will help increase Novolipetsk’s energy self-sufficiency to 56% from 54% and reduce the amount of electricity purchased by 200 million kWh a year (about 6% of the total electricity purchased).</p>

                    </div>
                    <h2 ng-class="{'open':p12}" ng-click="p12=!p12">Lighting upgrades</h2>

                    <div ng-show="p12">

                        <p style="font-size: 18px;">NLMK Group embarked on a large-scale upgrade of industrial lighting enabled by Philips in early 2011. </p>

                        <p style="font-size: 18px;">Seemingly simple energy saving methods such as replacing incandescent light bulbs with energy saving ones (both for indoor and outdoor lighting) and installing photocell switches and remote lighting control systems have had a significant impact: </p>

                        <p style="font-size: 18px;">
                        <ul>
                            <li>58% reduction in electricity consumed by lighting at Novolipetsk </li>
                            <li>12 MW in energy savings achieved at the Lipetsk site. This is equal to the electricity needs of a city district or a small town of 1,000 households.</li>
                            <li>>260 million rubles in annual savings from lighting upgrade projects carried out by Novolipetsk, Altai-Koks and NSMMZ </li>
                            <li>60 million rubles in expected annual savings from projects run by VIZ-Steel and Stoilensky</li>
                        </ul>
                        </p>
                        <h3>How do we do it?</h3>

                        <p style="font-size: 18px;">The pilot project to replace ceiling lights was carried out at Novolipetsk in 2011.</p>

                        <p style="font-size: 18px;">
                        <ul>
                            <li>Around 33,000 highly efficient state-of-the-art energy saving lights with a high luminous efficacy installed</li>
                            <li>Around 300 million rubles invested</li>
                            <li>Electricity consumption reduced by over 100 million kW*h a year</li>
                            <li>Payback period estimated at 2.2 years </li>
                        </ul>
                        </p>

                    </div>
                </div>
                <div class="text" ng-show="tab==5">
                    <h2>Environmental programme 2020</h2>

                    <p style="font-size: 18px;">NLMK Group allocated over 21 billion rubles for environmental projects during the second stage of the technical upgrade programme in 2007–2012. While the Group’s Russian operations boosted steel production by 52% over the period to 14.2 million tonnes, air emissions decreased by 40% (from 37.5 to 22.6 kg per tonne of steel) and discharges into water reduced to less than 2% of earlier levels (from 1.08 to 0.02 kg per tonne). The Lipetsk site achieved zero waste water discharge.</p>

                    <p style="font-size: 18px;">In May 2014 NLMK Group announced the start of a new stage of its Environmental Programme scheduled to run until 2020 (Environmental Programme 2020).</p>

                    <p style="font-size: 18px;">NLMK Group’s total investment in environmental improvements and projects at its sites will exceed 10 billion rubles.</p>

                    <p style="font-size: 18px;">Programme goals:</p>

                    <p style="font-size: 18px;">
                    <ul>
                        <li>Achieve zero waste water discharge at all production sites.</li>
                        <li>Increase recycling rate at all sites, including Stoilensky, to 25% from 5%.</li>
                        <li>Reduce specific emissions by NLMK Group’s operations to 19.4 kg per tonne of steel. </li>
                    </ul>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>