<div id="content" class="page--products">
    <h1 ng-bind="m._('ui','products')"></h1>

    <div class="col col-1">
        <div class="list" ng-init="tab=0">
            <div class="item first"
                 ng-click="tab=0"
                 ng-class="{'active':tab == 0,'before-active':tab == 1}">Экологическая эффективность
            </div>
            <div class="item"
                 ng-click="tab=1"
                 ng-class="{'active':tab == 1,'before-active':tab == 2}">Охрана атмосферного воздуха
            </div>
            <div class="item"
                 ng-click="tab=2"
                 ng-class="{'active':tab == 2,'before-active':tab == 3}">Охрана водного бассейна
            </div>
            <div class="item"
                 ng-click="tab=3"
                 ng-class="{'active':tab == 3,'before-active':tab == 4}">Обращение с отходами
            </div>
            <div class="item"
                 ng-click="tab=4"
                 ng-class="{'active':tab == 4,'before-active':tab == 5}">Энергетическая эффективность
            </div>
            <div class="item last"
                 ng-click="tab=5"
                 ng-class="{'active':tab == 5,'before-active':tab == 6}">Экологическая программа 2020
            </div>
        </div>
    </div>
    <div class="col col-2">
        <div class="container">
            <div class="scroll-content" p-scroll reset="tab">
                <div class="text" ng-show="tab==0">
                    <h2>Эффективное производство в гармонии с природой</h2>

                    <div class="scroll-paragraph">
                        <p>
                            Группа НЛМК - один из лидеров по внедрению современных природоохранных технологий в мировой
                            металлургии. Цель компании - последовательно минимизировать воздействие производства на
                            окружающую среду и постоянно стремиться к достижению наилучших стандартов в сфере экологии.
                        </p>

                        <p>
                            <b>Более 1,3 миллиарда долларов</b> инвестировала Группа НЛМК в природоохранные проекты с
                            2001 по 2015гг.
                        </p>

                        <p>
                            <b>Почти в 2 раза</b> вырос объем производства заэтот период, и компания стала крупнейшим
                            производителем стали в России.
                        </p>

                        <p>
                            <b>22%</b> всей российской стали выплавляет сегодня Группа НЛМК
                        </p>
                    </div>

                    <h2>Ключевые результаты </h2>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/1_1.png" alt=""/>
                    <br/>
                    <br/>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/1_2.png" alt=""/>
                    <br/>
                    <br/>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/1_3.png" alt=""/>
                    <br/>
                    <br/>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/1_4.png" alt=""/>
                    <br/>
                    <br/>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/1_5.png" alt=""/>
                    <br/>

                </div>
                <div class="text" ng-show="tab==1">
                    <h2>Охрана атмосферного воздуха</h2>

                    <p style="font-size: 18px;">
                        На сегодняшний день удельные выбросы в атмосферу предприятий Группы НЛМК за последние 8 лет сократились почти вдвое
                        и вплотную приблизились к уровню наилучший доступных технологий (BAT, best available
                        technologies).
                    </p>


                    <p style="font-size: 18px;">
                        Липецк, где расположено 80% производственных мощностей Группы НЛМК, официально признан не только
                        самым чистым областным центром Черноземья, но и самым чистым центром российской металлургии. В
                        2014 году комплексный индекс загрязнения атмосферы в Липецке составил 3,4 единицы, что
                        соответствует низкому уровню. Он уменьшился в полтора раза с 2013 года, а за все 23 года
                        проведения исследований Минприроды индекс сократился в 10 раз.

                    </p>

                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/2_1.png" alt=""/>
                    <br/>
                    <br/>

                    <h2 ng-class="{'open':p1}" ng-click="p1=!p1">Чистый воздух на производстве</h2>

                    <div ng-show="p1">
                        <p style="font-size: 18px;">
                            Группа НЛМК снижает воздействие на атмосферный воздух, чтобы улучшить условия труда на
                            производстве и создать благоприятную окружающую среду вокруг предприятий.
                        </p>

                        <p style="font-size: 18px;">
                            Результаты такой работы уже очевидны. С 2000 года объем производства стали на предприятиях
                            Группы НЛМК почти удвоился, а удельные выбросы сократились почти два раза <b>до 20,9
                            кг/т</b> стали и вплотную приблизились к уровню наилучших доступных технологий в 18,9 кг/т.
                        </p>

                        <h3>Передовые технологии для снижения выбросов</h3>

                        <p style="font-size: 18px;">
                            В 2014 году Группа НЛМК совместно с компанией Siemens VAIначала масштабный проект по
                            модернизации газоотводящего оборудования и систем улавливания и очистки выбросов
                            конвертерного производства Новолипецкого комбината.
                        </p>

                        <p style="font-size: 18px;">
                            Внедрение новых решений позволит более чем в 2 раза сократить удельные выбросы в атмосферу
                            данного цеха.
                        </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/2_1.jpg" alt=""/>
                        <h3>Высокоэффективная газоочистка доменного производства </h3>

                        <p style="font-size: 18px;">
                            В доменном производстве Новолипецкого комбината ведется несколько проектов по установке
                            нового газоочистного оборудования, которое позволит в десятки раз снизить запыленность
                            отходящих газов.
                        </p>
                        <h4>Доменная печь No6</h4>

                        <p style="font-size: 18px;">
                            Cтроительство нового комплекса газоочистки доменной печи No6. Новый комплекс позволит в 5
                            раз повысить эффективность очистки доменного газа
                        </p>
                        <h4>Доменная печь No4</h4>

                        <p style="font-size: 18px;">
                            Строительство модульной аспирационной системы для очистки отходящих газов доменной печи No4.
                            Новая установка позволит снизить остаточную запыленность в 30 раз – до 5 мг/м3, что позволит
                            уменьшить ежегодные выбросы пыли на 504 тонны и достичь урочная наилучших доступных
                            технологий.
                        </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/2_2.jpg" alt=""/>
                        <h3>Масштабный проект реконструкции систем очистки воздуха в огнеупорном цехе </h3>

                        <p style="font-size: 18px;">Тщательно проанализировав все источники пыли, на НЛМК определили
                            комплекс мер по снижению пылевых выбросов. Несколько проектов развернули в огнеупорном
                            цехе. </p>

                        <p style="font-size: 18px;">завершена модернизация аспирационной установки. Замена оборудования
                            позволила <b>в 10 раз снизить остаточную запыленность отходящих газов</b>, а также на 54
                            тонны
                            уменьшить валовые выбросы пыли </p>

                        <p style="font-size: 18px;">Завершена реконструкция системы пылеподавления открытой части склада
                            сыпучих материалов огнеупорного цеха. Это позволит <b>снизить выбросы известковой пыли на 72
                                тонны
                                в год</b>. Для организации пылеподавления будут установлены пушки водяного тумана,
                            которые обеспечат
                            орошение всей площади склада. </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/2_3.jpg" alt=""/>
                    </div>
                    <h2 ng-class="{'open':p2}" ng-click="p2=!p2">«Россиянка» - самая современная доменная печь в России</h2>

                    <div ng-show="p2">
                        <p style="font-size: 18px;">
                        <ul>
                            <li>Производительность: 4,2 млн тонн чугуна в год.</li>
                            <li>Инвестиции в проект: более 43 млрд рублей.</li>
                            <li>Первый чугун: 2011 год.</li>
                        </ul>
                        </p>
                        <p style="font-size: 18px;">«Россиянка» – первая и единственная доменная печь, построенная на
                            постсоветском пространстве за последние 25 лет. Пуск комплекса доменной печи «Россиянка» и
                            нового конвертера позволили увеличить мощности по производству стали в Липецке на 36% – до
                            12,4 млн тонн. Производимый на доменной печи «Россиянка» чугун используется в конвертерном
                            производстве НЛМК для выплавки стали различных марок.</p>

                        <h3>Доменная печь «Россиянка»</h3>

                        <p style="font-size: 18px;">
                        <ul>
                            <li>построена с применением самых современных инновационных технических разработок ведущих
                                российских и иностранных инжиниринговых компаний
                            </li>
                            <li>в проектировании, строительстве и поставке оборудования участвовало около 40 российских
                                и 30 иностранных организаций
                            </li>
                            <li>технологический процесс построен с использованием наилучших доступных природоохранных и
                                ресурсосберегающих технологий – высокоэффективных систем аспирации и замкнутого
                                водооборотного цикла
                            </li>
                            <li>современные технические решения позволяют снизить валовые выбросы печи в атмосферу <b>более
                                чем в 200 раз</b> по сравнению с существующими в отрасли доменными печами.
                            </li>
                        </ul>
                        </p>
                        <p style="font-size: 18px;">Доменный газ «Россиянки» используется как сырье для производства
                            электроэнергии на новой утилизационной ТЭЦ мощностью 150 МВт</p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/2_4.png" alt=""/>
                    </div>
                    <h2 ng-class="{'open':p3}" ng-click="p3=!p3">Липецк – самый чистый город</h2>

                    <div ng-show="p3">
                        <p style="font-size: 18px;">По мнению экспертов, рекордно низкий уровень КИЗА для Липецка - это
                            во многом результат системной и успешной работы НЛМК по сокращению воздействия на окружающую
                            среду в рамках«Экологической программы 2020».</p>

                        <p style="font-size: 18px;">КИЗА (комплексный индекс загрязнения атмосферы) - разработан и
                            рассчитывается Федеральной службой по гидрометеорологии и мониторингу окружающей среды
                            (Росгидромет). Используется Минприроды России для научно-обоснованной оценки степени
                            загрязнения воздуха в российских городах.</p>

                        <p style="font-size: 18px;">В 2014 году комплексный индекс загрязнения атмосферы в Липецке
                            составил 3,4 единицы, уменьшившись с 2013 года в полтора раза (5,1 ед.). Это самый низкий
                            уровень загрязнения за всю историю исследований с 1991 г., когда он составил 33,9 ед. </p>

                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/2_2.png" alt=""/>
                        <br/>
                        <br/>
                        <p style="font-size: 18px;">Таким образом, Липецк официально признан не только самым чистым
                            областным центром Черноземья, но самым чистым центром российской металлургии, опередив по
                            чистоте воздуха Череповец (3,9 ед.), Нижний Тагил (7 ед.), Магнитогорск (13 ед.),
                            Новокузнецк (17 ед.), где также находятся основные площадки крупных металлургических
                            холдингов. </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/2_3.png" alt=""/>
                        <br/>
                        <br/>
                    </div>
                    <h2 ng-class="{'open':p4}" ng-click="p4=!p4">Безводная технология охлаждения шлака</h2>

                    <div ng-show="p4">
                        <p style="font-size: 18px;">На Новолипецком металлургическом комбинате в 2015 году ввели в
                            эксплуатацию новый комплекс переработки доменного шлака. Проект позволил перейти на новую
                            технологию охлаждения шлака и свести к минимуму выделения сероводорода. </p>

                        <p style="font-size: 18px;">Прежде имевшиеся на предприятии шлаковые площадки и технологический
                            график не позволяли в процессе охлаждения шлака полностью исключить использование воды. В
                            свою очередь, контакт горячего шлака с водой приводит к образованию сероводорода -
                            химического соединения со специфическим запахом.</p>

                        <p style="font-size: 18px;">Новый комплекс увеличил площади для охлаждения шлака с 8 до 20 тыс.
                            квадратных метров и дал возможность полностью перейти на новую безводную технологию
                            охлаждения доменного шлака. </p>

                        <p style="font-size: 18px;">Инвестиции в проект - 360 млн рублей</p>

                    </div>


                </div>
                <div class="text" ng-show="tab==2">
                    <h2>БЕРЕЖНОЕ ОТНОШЕНИЕ К ВОДНЫМ РЕСУРСАМ</h2>

                    <p style="font-size: 18px;"><b>Более чем в 54 раза</b> Группа НЛМК сократила сбросы загрязняющих
                        веществ с промышленными стоками в водоемы с 2007 года, а на большей части производства
                        прекратила их полностью. </p>

                    <p style="font-size: 18px;">Липецкая производственная площадка, на которую приходится около 80%
                        производства Группы, а также предприятия Алтай-Кокс, Стойленский ГОК, НЛМК-Калуга и ВИЗ-Сталь
                        работают по технологии замкнутого водооборота, т.е. выбросы промышленных стоков на них
                        отсутствуют.</p>

                    <p style="font-size: 18px;">Удельное водопотребление в Группе НЛМК снизилось с 2008 года в два с
                        половиной раза и в настоящее время более чем на 25% ниже уровня наилучших доступных технологий
                        для интегрированного металлургического производства.</p>

                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/3_1.png" alt=""/>
                    <br/>
                    <br/>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/3_2.png" alt=""/>
                    <br/>
                    <br/>

                    <h2 ng-class="{'open':p5}" ng-click="p5=!p5">Ноль сбросов в водоемы - замкнутый водооборот на предприятиях Группы </h2>

                    <div ng-show="p5">
                        <p style="font-size: 18px;">Удельные сбросы предприятий Группы НЛМК сократили практически до
                            нуля. А на Липецкой производственной площадке сброс производственных сточных вод в реку
                            Воронеж прекращен в 2009 году. </p>

                        <p style="font-size: 18px;">Прекращение промышленных сбросов в водные объекты возможно с помощью
                            организации замкнутого водооборотного цикла – использованная в производственном процессе
                            вода очищается и возвращается в технологический цикл.</p>

                        <h3>Первая в мире безотходная система водного хозяйства </h3>

                        <p style="font-size: 18px;">Именно на предприятии Группы НЛМК – ВИЗ-Сталь в Свердловской области
                            - разработана и внедрена в 1973 году первая в истории мировой черной металлургии безотходная
                            система водного хозяйства. С вводом замкнутого технологического цикла использованной воды,
                            полностью исключающего сброс в водоемы, была решена проблема экологической безопасности
                            производства, расположенного на берегу главного питьевого источника Екатеринбурга –
                            Верх-Исетского пруда. </p>
                        <!--<img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/3_2.jpg" alt=""/>-->

                        <h3>Образец бережливого водопользования</h3>

                        <p style="font-size: 18px;">В 2008 году в Березовском филиале Нижнесергинского
                            метизно-металлургического завода был пущен в эксплуатацию блок очистных сооружений
                            прокатного производства (БОСПП), который до сих пор является образцом экологичного подхода к
                            эффективному использованию водных и энергоресурсов.</p>

                        <p style="font-size: 18px;">БОСПП – это комплекс, где использованы последние разработки в
                            области водопользования. Система работает по принципу «замкнутого оборотного цикла. Схема
                            позволяет исключить сброс промышленной стоков в природные источники воды. </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/3_2.jpg" alt=""/>
                        <h3>Ноль сбросов в водоемы</h3>

                        <p style="font-size: 18px;">В 2009 году Новолипецкий металлургический комбинат полностью
                            прекратил сброс производственных сточных вод в реку Воронеж. <b>При этом потребление речной
                                воды снизилось в 3 раза</b>. Снижение экологической нагрузки достигнуто за счет
                            завершившейся
                            масштабной модернизации комплекса технического водоснабжения и внедрения новой
                            технологической съемы.</p>

                        <p style="font-size: 18px;">Для этого на НЛМК построена сеть новых трубопроводов, введены в
                            строй новые и реконструированы действующие насосные станции. Результатом проведенных работ
                            стало улучшение качества промышленных сточных вод, что позволило использовать их повторно
                            вместо свежей речной воды. </p>

                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/3_3.jpg" alt=""/>
                    </div>
                    <h2 ng-class="{'open':p6}" ng-click="p6=!p6">Новейшие российские биохимические технологии в металлургии</h2>

                    <div ng-show="p6">
                        <p style="font-size: 18px;">Группа НЛМК построила уникальный природоохранный комплекс -
                            установку биохимической очистки сточных вод коксохимического производства на Липецкой
                            производственной площадке. </p>

                        <p style="font-size: 18px;">Комплекс не имеет аналогов в России и создан на основе разработанной
                            российскими учеными оригинальная технологии глубокой биохимической очистки сточных вод. </p>

                        <p style="font-size: 18px;">Все промышленно-ливневые сточные воды на Липецкой производственной
                            площадке с 2009 года находятся в замкнутом водооборотном цикле - они проходят
                            многоступенчатую очистку и повторно используются в технологических процессах производства.
                            Предприятие не сбрасывает стоки в водоемы.</p>

                        <p style="font-size: 18px;">Новая установка биохимической очистки производительностью 160
                            м3/час, построенная с применением наилучших доступных технологий, позволила в 20 раз
                            повысить качество очистки сточных вод коксохимического производства для повторного
                            использования в замкнутом водооборотном цикле. </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/3_4.jpg" alt=""/>
                        <p style="font-size: 18px;">В комплексе внедрена разработанная российскими учеными оригинальная
                            технология глубокой биохимической очистки сточных вод от фенолов, роданидов, аммонийного
                            азота и его окисленных форм (нитритов и нитратов) в одну стадию - раньше применялась
                            технология очистки в несколько этапов. Исключение из технологии традиционных стадий
                            позволило обеспечить высокий, до 95%, эффект очистки сточных вод от нитритов и нитратов</p>

                        <p style="font-size: 18px;">Кроме того, все сооружения и коммуникации установлены над
                            поверхностью земли на бетонированной изолированной площадке, оборудованной устройством сбора
                            дождевых, талых и дренажных вод. Это позволяет полностью исключить вероятность загрязнения
                            грунтовых вод в случае разгерметизации емкостей.</p>
                    </div>
                    <h2 ng-class="{'open':p7}" ng-click="p7=!p7">Экологический парк «Лебединое озеро» - естественныйиндикатор благополучной
                        экологической
                        обстановки на НЛМК</h2>

                    <div ng-show="p7">
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/3_5.jpg" alt=""/>
                        <p style="font-size: 18px;">Экологический парк «Лебединое озеро» был создан силами работников
                            Новолипецкого металлургического комбината в 1978 году и в настоящее время является
                            единственным в России и ближнем зарубежье уникальным местом для сохранения и разведения
                            популяций редких и исчезающих видов птиц, расположенном на территории промышленного
                            предприятия. </p>

                        <p style="font-size: 18px;">В настоящее время в экологическом парке живет 51 вид декоративных
                            птиц (415 особей), из которых 39 видов занесено в Международную Красную Книгу, 7 видов - в
                            Конвенцию о международной интернациональной торговле видами дикой фауны и флоры,
                            находящимися под угрозой уничтожения. В водоеме, который наполняется из оборотного цикла
                            технологической водой комбината, обитает рыба, что способствует естественному питанию
                            водоплавающих птиц. </p>

                        <p style="font-size: 18px;">Площадь территории «Лебединого озера», расположенном в самом центре
                            комбината, составляет 5,1 га. В зимний период (с 15 октября по 15 апреля) для обеспечения
                            благоприятных условий водоплавающим птицам, вода в водоеме подогревается путем подачи смеси
                            сжатого воздуха и горячего пара по дну озера.</p>

                        <p style="font-size: 18px;">Парк «Лебединое озеро» служит естественным и объективным индикатором
                            благоприятной экологической обстановки на Новолипецком металлургическом комбинате.</p>
                    </div>
                </div>
                <div class="text" ng-show="tab==3">
                    <h2>ВЫСОКАЯ СТЕПЕНЬ ПЕРЕРАБОТКИ ОТХОДОВ </h2>

                    <p style="font-size: 18px;">Предприятия Группы НЛМК представлены в различных сегментах
                        горно-металлургического комплекса, которые характеризуются различным уровнем образования отходов
                        - от невысокого, характерного для металлургических площадок и компаний по добыче нерудных
                        ископаемых, до существенного, свойственного железодобывающим активам. </p>

                    <p style="font-size: 18px;">Благодаря уровень активному вовлечению отходов в хозяйственный оборот
                        уровень переработки отходов всех предприятий превышает 90%, а образование твердых промышленных
                        отходов с 2007 года снизилось более чем на 23%. </p>

                    <p style="font-size: 18px;">На основной производственной площадке в Липецке начиная с 2004 года было
                        прекращено накопление отходов и началась планомерная работа по их переработке - за 2014 год на
                        шлаковом отвале объем накопленных в прежние периоды отходов был сокращен почти на 1 млн тонн. К
                        2020 году планируется полностью переработать все ранее накопленные отходы. </p>

                    <h2 ng-class="{'open':p8}" ng-click="p8=!p8">Современные технологии обработки пустой породы на Стойленской ГОКе</h2>

                    <div ng-show="p8">
                        <p style="font-size: 18px;">На Стойленском ГОКе, одном из ведущих российских предприятий по
                            добыче железной руды, в 2013 году была запущена в эксплуатацию первая очередь узла сгущения,
                            оборотного водоснабжения и транспортировки хвостов (пустой породы). Это более эффективный
                            способ обработки пустой породы после обогащения, чем использовавшийся ранее на
                            предприятии. </p>

                        <p style="font-size: 18px;">За полтора года работы первой очереди системы удалось добиться
                            рекордного показателя удельной нагрузки сгустителя: 0,9 тонн пульпы на метр квадратный в
                            час. Результат на треть выше лучших мировых показателей, достигнутых в Канаде и США. </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/4_1.jpg" alt=""/>
                        <p style="font-size: 18px;">Новая технология предусматривает транспортировку насосами пустой
                            породы и ее укладку в хвостохранилище в сгущенном состоянии. При этом 80% используемой при
                            транспортировке технологической воды возвращается в процесс обогащения. Внедрение этой
                            технологии обусловлено необходимостью расширения пропускной способности системы
                            транспортировки хвостов, а также их складирования в местах, куда доставка пульпы самотечной
                            системой невозможна, а транспортировка всего объема отработанной воды была бы
                            неэффективна. </p>

                        <p style="font-size: 18px;">Проект перехода на новый способ обработки, транспортировки и укладки
                            хвостов состоит из трех очередей с поэтапным вводом в 2013, 2015 и 2017 году соответственно.
                            Полный переход на транспортировку хвостов по новой технологии планируется осуществить к 2018
                            году.</p>

                        <p style="font-size: 18px;">Первая очередь узла сгущения помимо сгустителя No1 включает объекты
                            инфраструктурного обеспечения комплекса. Вторая и третья очереди предусматривают монтаж еще
                            трех сгустителей, пульпонасосной станции, расширение насосной станции No3 и установку
                            дополнительного насосного оборудования.</p>
                    </div>
                    <h2 ng-class="{'open':p9}" ng-click="p9=!p9">Вторая жизнь стали. Переработка железного лома - важная экологическая функция
                        Группы НЛМК.</h2>

                    <div ng-click="p9=!p9">
                        <p style="font-size: 18px;">Группа НЛМК выполняет важную экологическую функцию - сбор и
                            утилизацию отходов и переработке вторичных ресурсов в России. Электрометаллургические заводы
                            дивизиона НЛМК-Сорт работают на вторичном сырье - ломе черных металлов, сбор которого
                            осуществляет Вторчермет НЛМК - крупнейшая в России компания по переработке лома и самая
                            технически оснащенная сеть в России. </p>

                        <p style="font-size: 18px;">Вторчермет НЛМК работает в 34 регионах России, более чем на 250
                            производственно-заготовительных участках. Суммарные мощности по переработке металлолома
                            превышают 3 млн тонн в год. </p>

                        <p style="font-size: 18px;">Вторчермет НЛМК на 85% обеспечивает качественным металлоломом
                            сталеплавильные мощности НСММЗ, НЛМК-Калуга и Новолипецкого металлургического комбината. В
                            свою очередь предприятия Группы НЛМК выпускают востребованную в различных отраслях
                            продукцию: арматуру, швеллер, уголок, проволоку, крепёжные изделия, листовой прокат. Таким
                            образом, металлолом, поступающий на Вторчермет НЛМК, получает вторую жизнь.</p>

                        <p style="font-size: 18px;">По оценкам специалистов, ежегодно в России сдается порядка 23 млн
                            тонн лома чёрных металлов. Груды лома накапливались бы годами, если бы металл не обладал
                            важным свойством - возможностью почти 100-процентной переработки и неоднократного
                            использования. </p>

                        <p style="font-size: 18px;">Переработка лома позволяет очищать окружающую среду от металлолома и
                            значительно экономить природные ресурсы и электроэнергию. Использование 1 тонны лома чёрных
                            металлов позволяет сэкономить свыше полутора тонн руды, агломерата и окатышей, порядка ста
                            кубометров газа. </p>

                        <p style="font-size: 18px;"><b>Вторчермет НЛМК - лидер отрасли по техническому оснащению
                            процесса переработки лома. </b></p>
                    </div>
                    <h2 ng-class="{'open':p10}" ng-click="p10=!p10">НЛМК-Калуга – новейшие экологические технологии современной металлургии</h2>

                    <div ng-show="p10">
                        <p style="font-size: 18px;">НЛМК-Калуга - электрометаллургический завод нового поколения, лидер
                            среди электрометаллургических предприятий по уровню производительности, энергоэффективности
                            и низкой экологической нагрузке. </p>

                        <p style="font-size: 18px;">«Это абсолютно современное, высокотехнологичное производство и, что
                            особенно важно для металлургического комбината, - чистое. Наверное, самое чистое в нашей
                            стране». - <i>Дмитрий Медведев</i></p>

                        <p style="font-size: 18px;">
                        <ul>
                            <li>Мощности по выплавке стали – 1,5 млн тонн в год</li>
                            <li>Мощности по выпуску металлопроката – 0,9 млн тонн в год</li>
                            <li>Инвестиции – более 38 млрд рублей</li>
                            <li>Инвестиции в природоохранные технологии – 7,5 млрд рублей</li>
                            <li>Очистные системы завода способны улавливать более 99% атмосферных выбросов</li>
                        </ul>
                        </p>
                        <p style="font-size: 18px;">Группа НЛМК приступила к строительству завода на площадке в
                            индустриальном парке «Ворсино» в Калужской области в 2008 году. Предприятие было запущено в
                            эксплуатацию в 2013 году.</p>

                        <p style="font-size: 18px;">В основе НЛМК-Калуга – концепция мини-завода, которая предполагает
                            создание комплекса электросталеплавильного и прокатного производств в непосредственной
                            близости к источникам сырья и потребителям готовой продукции.</p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/4_2.jpg" alt=""/>
                        <p style="font-size: 18px;">При строительстве НЛМК-Калуга был использован опыт передовых
                            европейских предприятий по внедрению самых эффективных природоохранных технологий, что
                            позволило минимизировать воздействие на окружающую среду. Инвестиции в природоохранные
                            технологии составили 7,5 млрд рублей – пятая часть всех инвестиций в проект. </p>

                        <p style="font-size: 18px;">
                        <ul>
                            <li>Современные очистные системы улавливают > 99% выбросов в атмосферу</li>
                            <li>~ 20% инвестиций в строительство завода направлено на природоохранные технологии</li>
                            <li>НЛМК-Калуга выполняет важную экологическую функцию по переработке железного лома</li>
                            <li>Замкнутая система водооборота – нулевые сбросы в водоемы</li>
                            <li>На заводе внедрены уникальные системы энергосбережения</li>
                        </ul>
                        </p>

                    </div>
                </div>
                <div class="text" ng-show="tab==4">

                    <h2>ЭНЕРГОЭФФЕКТИВНОЕ ПРОИЗВОДСТВО </h2>

                    <p style="font-size: 18px;">Группа НЛМК реализовала с 1999 года десятки крупных инвестиционных проектов с целью повышения энергоэффективности производства. За этот период удельная энергоемкость НЛМК снизилась на 20% и вплотную приблизилась к уровню наилучших доступных технологий. </p>

                    <p style="font-size: 18px;">Объем собственной генерации на вторичных газах вырос в три с половиной раза за счет чего обеспеченность собственной электроэнергией, в частности, основной производственной площадки в Липецке выросла до 57%. Это позволяет не только экономить расходы на энергоресурсы и снижать себестоимость производства, но и уменьшать воздействие на окружающую среду.</p>
                    <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco/5_1.png" alt=""/>
                    <br/>
                    <br/>

                    <h2 ng-class="{'open':p11}" ng-click="p11=!p11">«Зеленые» технологии генерации электроэнергии на Липецкой производственной
                        площадке</h2>

                    <div ng-show="p11">
                        <p style="font-size: 18px;">Группа НЛМК развивает важное экологическое направление –
                            использование вторичных источников для генерации электроэнергии. На Новолипецком
                            металлургическом комбинате, основной производственной площадке Группы, в качестве топлива
                            для выработки электроэнергии используется доменный газ – побочный продукт работы доменной
                            печи. С 1999 года производство собственной электроэнергии из вторичных энергоресурсов на
                            НЛМК выросло на <b>280%</b>. Самообеспеченность НЛМК в электроэнергии по итогам 2015 года
                            составила 57%</p>

                        <h3>Объекты собственной генерации НЛМК:</h3>

                        <p style="font-size: 18px;">
                        <ul>
                            <li>ТЭЦ (мощность 332 МВт)</li>
                            <li>Утилизационная ТЭЦ (УТЭЦ, мощность 150 МВт)</li>
                            <li>Газотурбинная расширительная станция (ГТРС, мощность 28 МВт)</li>
                        </ul>
                        </p>
                        <p style="font-size: 18px;"><b>ТЭЦ, УТЭЦ:</b> Доменный газ, образующийся при выплавке чугуна на
                            печах Новолипецкого комбината, направляется на ТЭЦ и утилизационную ТЭЦ (УТЭЦ) для выработки
                            электроэнергии. Современный технологический комплекс УТЭЦ мощностью 150 МВт был введен в
                            эксплуатацию в 2011, сырьем для теплоэлектроцентрали является доменный газ печи «Россиянка».
                        </p>
                        <img style="width:600px;margin-left:300px;margin-bottom:40px" src="/images/eco_i/5_1.jpg" alt=""/>

                        <p style="font-size: 18px;"><b>ГТРС:</b> Электроэнергия на НЛМК вырабатывается не только
                            сжиганием доменного газа в утилизационной ТЭЦ и ТЭЦ. НЛМК освоило технологию производства
                            электроэнергии за счет избыточного давления доменного газа на газовых утилизационных
                            бескомпрессорных турбинах (ГУБТ), которые образуют комплекс ГТРС. </p>

                        <p style="font-size: 18px;">Первая ГУБТ, которая использует газ доменной печи «Россиянка»,
                            запущена в эксплуатацию в 2015 году. В 2016 году ожидается запуск второй турбины, которая
                            будет использовать газ доменной печи No6.</p>

                        <p style="font-size: 18px;">Проект ГТРС позволит повысить самообеспеченность комбината в
                            электроэнергии до 57% и снизить объем закупаемой электроэнергии на 200 млн кВт*ч в год
                            (около 6% от объема закупки). </p>

                    </div>
                    <h2 ng-class="{'open':p12}" ng-click="p12=!p12">Модернизация освещения</h2>

                    <div ng-show="p12">

                        <p style="font-size: 18px;">В начале 2011 года Группа НЛМК начала масштабный проект с компанией
                            Philips по модернизации систем освещения на производственных площадках. </p>

                        <p style="font-size: 18px;">Казалось бы, несущественная замена ламп накаливания на
                            энергосберегающие для наружного и внутреннего освещения, установка фотореле и систем
                            дистанционного управления освещением дают ощутимый эффект: </p>

                        <p style="font-size: 18px;">
                        <ul>
                            <li>- 58% - снижение потребления электроэнергии на освещение на Новолипецком
                                металлургическом комбинате.
                            </li>
                            <li>12 МВт – экономия электроэнергии на Липецкой площадке. Этот объем энергии эквивалентен
                                потребности в электроэнергии городского микрорайона или посёлка с 1 тыс. домохозяйств.
                            </li>
                            <li>> 260 млн рублей - годовая экономия от реализации проектов модернизации освещения на
                                Новолипецком меткомбинате, Алтай-Коксе и НСММЗ
                            </li>
                            <li>60 млн рублей – ожидаемая годовая экономия от реализации проектов, запущенных на
                                ВИЗ-Стали и Стойленском ГОКе
                            </li>
                        </ul>
                        </p>
                        <h3>Как это делается?</h3>

                        <p style="font-size: 18px;">Пилотный проект замены потолочных светильников был реализован в 2011
                            году на Новолипецком металлургическом комбинате.</p>

                        <p style="font-size: 18px;">
                        <ul>
                            <li>Было установлено около 33 000 современных энергоэффективных светильников с повышенным
                                коэффициентом полезного действия и высокой светоотдачей
                            </li>
                            <li>Инвестиции составили около 300 млн рублей</li>
                            <li>Снижение потребления электроэнергии составило более 100 млн кВт*ч/год</li>
                            <li>Срок окупаемости – 2,2 года.</li>
                        </ul>
                        </p>

                    </div>
                </div>
                <div class="text" ng-show="tab==5">
                    <h2>Экологическая программа 2020 </h2>

                    <p style="font-size: 18px;">За период реализации 2-ого этапа программы технического перевооружения с
                        2007 по 2012 год Группа НЛМК инвестировала в природоохранные проекты более 21 млрд рублей. В
                        этот период объем производства стали на российских предприятиях Группы НЛМК вырос на 52% до 14,2
                        млн тонн. Удельная нагрузка на атмосферный воздух уменьшена на 40% (с 37,5 до 22,6 кг на тонну
                        произведенной стали), сбросы в поверхностные водные объекты сокращены в 54 раза (с 1,08 до 0,02
                        кг/т), на Липецкой площадке сбросы прекращены полностью. </p>

                    <p style="font-size: 18px;">В мае 2014 года Группа НЛМК объявила о начале реализации нового этапа
                        Экологической программы, рассчитанного на период до 2020 года <b>(«Экологическая программа
                            2020»)</b></p>

                    <p style="font-size: 18px;"><b>Общий объем инвестиций в природоохранные мероприятия и проекты на
                        предприятиях Группы НЛМК составит более 10 млрд рублей.</b></p>

                    <p style="font-size: 18px;">Цели программы:</p>

                    <p style="font-size: 18px;">
                    <ul>
                        <li>прекратить промышленные сбросы всех предприятий Группы в водные объекты</li>
                        <li>увеличить степень утилизации отходов на всех предприятиях, включая отходы Стойленского ГОКа,
                            с 5% до 25%
                        </li>
                        <li>снизить удельные выбросы предприятий до 19,4 кг/т стали</li>
                    </ul>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>