<div ng-init="tab=0;ptab=0">

    <div ng-show="tab==0" class="content info">
        <div class="title">ПО «Вторчермет»</div>
        <div class="col col-1">
            <img src="/img/popup--info--img-1.jpg"/>
        </div>
        <div class="col col-2">
            <p>Производственное объединение «Уралвторчермет» - ныне ПО «Вторчермет НЛМК» - было создано в 1998 году как
                холдинг предприятий по заготовке и переработке черного металлолома. В настоящее время объединение
                «Вторчермет НЛМК» представлено более чем в 35 регионах России, где приемом и переработкой черного
                металлолома занимается около 200 производственных площадок. Производственное объединение «Вторчермет
                НЛМК» (Уралвторчермет) – крупная сеть ломоперерабатывающих предприятий России.</p>
        </div>
        <div class="col col-3">
            <p>Объединение «Вторчермет НЛМК» (Уралвторчермет) является сырьевым подразделением компании «НЛМК-Сорт»,
                которая обеспечивает 80% потребностей Группы в ломе.</p>
        </div>
    </div>


    <div ng-show="tab==1" class="content products">
        <div class="title">Продукция</div>
        <div class="col col-1">
            <div class="list">
                <div class="item first"
                     ng-click="ptab=0"
                     ng-class="{'active':ptab == 0,'before-active':ptab == 1}"
                     ng-bind="m._('products','slabs')"></div>
                <div class="item"
                     ng-click="ptab=1"
                     ng-class="{'active':ptab == 1,'before-active':ptab == 2}"
                     ng-bind="m._('products','blank')"></div>
                <div  class="item"
                      ng-click="ptab=2"
                      ng-class="{'active':ptab == 2,'before-active':ptab == 3}"
                      ng-bind="m._('products','rod')"></div>
                <div class="item"
                     ng-click="ptab=3"
                     ng-class="{'active':ptab == 3,'before-active':ptab == 4}"
                     ng-bind="m._('products','fittings')"></div>
                <div class="item"
                     ng-click="ptab=4"
                     ng-class="{'active':ptab == 4,'before-active':ptab == 5}"
                     ng-bind="m._('products','hardware')"></div>
                <div class="item last"
                     ng-click="ptab=5"
                     ng-class="{'active':ptab == 5}"
                     ng-bind="m._('products','hire')"></div>
            </div>
        </div>
        <div class="col col-2">
            <div class="container">
                <div class="img">
                    <img src="/img/popup--products-img-1.jpg" />
                </div>
                <div class="text">
                    <div class="title" ng-show="ptab==0" ng-bind="m._('products','slabs')"></div>
                    <div class="title" ng-show="ptab==1" ng-bind="m._('products','blank')"></div>
                    <div class="title" ng-show="ptab==2" ng-bind="m._('products','rod')"></div>
                    <div class="title" ng-show="ptab==3" ng-bind="m._('products','fittings')"></div>
                    <div class="title" ng-show="ptab==4" ng-bind="m._('products','hardware')"></div>
                    <div class="title" ng-show="ptab==5" ng-bind="m._('products','hire')"></div>
                    <p style="font-size: 24px;">
                        Марки стали: <b>СТ100 — КТВ400</b><br />
                        Толщина: <b>180 — 250мм</b><br />
                        Ширина: <b>0.75 — 2.25м</b><br />
                        Длина: <b>6 — 12м</b>
                    </p>
                    <h4>Применение</h4>
                    <p style="font-size: 18px;">В 2011 году на Новолипецком металлургическом комбинате получена первая продукция на реконструированной машине непрерывного литья заготовок (МНЛЗ-8) мощностью 2,5 млн т в год. Реконструкция МНЛЗ-8 позволила компании впервые в стране приступить к выпуску слябов толщиной до 355 мм. До запуска данного агрегата максимальная толщина слябов, разливаемых на машинах непрерывного литья заготовок в России, составляла 300 мм. «Широкие» слябы предназначены для последующего изготовления из них толстого листа, в том числе на дочерних предприятиях в Европе – DanSteel и  Clabecq.</p>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="tab==2" class="content">
        <div class="title">ПО «Вторчермет»</div>
        <div class="gallery">
            <div class="full-img">
                <img src="/img/popup--full-img.jpg" />
            </div>
            <div class="list-img">
                <div class="item active">
                    <img src="/img/popup--small-img-1.jpg" />
                </div>
                <div class="item">
                    <img src="/img/popup--small-img-2.jpg" />
                </div>
                <div class="item">
                    <img src="/img/popup--small-img-3.jpg" />
                </div>
                <div class="item">
                    <img src="/img/popup--small-img-4.jpg" />
                </div>
                <div class="item">
                    <img src="/img/popup--small-img-5.jpg" />
                </div>
                <div class="item">
                    <img src="/img/popup--small-img-6.jpg" />
                </div>
                <div class="item">
                    <img src="/img/popup--small-img-7.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div ng-show="tab==3" class="content">
        <div class="title">ПО «Вторчермет»</div>
        <div class="gallery">
            <div class="video">
                <videogular
                        vg-player-ready="onPlayerReady"
                        vg-complete="onCompleteVideo"
                        vg-update-time="onUpdateTime"
                        vg-update-volume="onUpdateVolume"
                        vg-update-state="onUpdateState"
                        vg-theme="config.theme.url"
                        vg-autoplay="config.autoPlay">
                    <vg-video vg-src="config.sources"></vg-video>
                </videogular>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="close" ng-click="m.closePopup()"></div>
        <div class="tabs">
            <div ng-class="{'before-active':tab == 0}" class="item item-empty">
                <div class="ico"></div>
            </div>
            <div ng-click="tab=0" ng-class="{'active':tab == 0,'before-active':tab == 1}" class="item item-0">
                <div
                        class="ico"></div>
            </div>
            <div ng-click="tab=1" ng-class="{'active':tab == 1,'before-active':tab == 2}" class="item item-1">
                <div
                        class="ico"></div>
            </div>
            <div ng-click="tab=2" ng-class="{'active':tab == 2,'before-active':tab == 3}" class="item item-2">
                <div
                        class="ico"></div>
            </div>
            <div ng-click="tab=3" ng-class="{'active':tab == 3}" class="item item-3">
                <div
                        class="ico"></div>
            </div>
        </div>
    </div>
</div>