<div id="content">
    <div class="map">
        <marker pos='[480,420]' name='НЛМК' type='production'></marker>
        <marker pos='[480,440]' name='Стойленский ГОК' type='production'></marker>
        <marker pos='[440,360]' name='НЛМК Калуга' type='production'></marker>
        <marker pos='[490,400]' name='Стагдок' type='production'></marker>
        <marker pos='[480,400]' name='Доломит' type='mine'></marker>
        <marker pos='[800,390]' name='Алтай-Кокс' type='mine'></marker>
        <marker pos='[780,400]' name='Алтай-Вторчермет НЛМК' type='recycle'></marker>
        <marker pos='[600,340]' name='ВИЗ-Сталь' type='production'></marker>
        <marker pos='[630,360]' name='НСММЗ' type='production'></marker>
        <marker pos='[620,390]' name='НЛМК-Метиз' type='production'></marker>
    </div>
</div>