<div id="content">
    <div class="map">
        <marker pos='[170,200]' name='НЛМК Калуга' type='production'></marker>

        <marker pos='[270,300]' name='Доломит' type='mine'></marker>
        <marker pos='[317,340]' name='Стагдок' type='mine'></marker>
        <marker pos='[365,380]' name='НЛМК' type='production'></marker>

        <marker pos='[250,400]' name='Стойленский ГОК' type='production'></marker>

        <marker pos='[1100,150]' name='НЛМК-Метиз' type='production'></marker>
        <marker pos='[1000,200]' name='ВИЗ-Сталь' type='production'></marker>
        <marker pos='[1050,250]' name='Алтай-Вторчермет НЛМК' type='recycle'></marker>
        <marker pos='[900,200]' name='НСММЗ' type='production'></marker>

        <marker pos='[1700,300]' name='Алтай-Кокс' type='mine'></marker>
    </div>
</div>