<div id="content">
    <div class="map">
        <marker pos='[170,200]' name='NLMK Kaluga' active='04_nlmk_kaluga' type='production'></marker>

        <marker pos='[270,300]' name='Dolomit' active='07_dolomit' type='mine'></marker>
        <marker pos='[317,340]' name='Stagdok' active='08_stagdok' type='mine'></marker>
        <marker pos='[365,380]' name='Novolipetsk' active='01_nlmk' type='production'></marker>

        <marker pos='[250,400]' name='Stoilensky' active='02_stoilenskiy_gok' type='production' angle="40"></marker>

        <marker pos='[1100,150]' name='NLMK Metalware' active='10_nlmk_metiz' type='production' angle="-15"></marker>
        <marker pos='[1000,200]' name='VIZ-Steel' active='03_viz_stal' type='production' angle="-55"></marker>
        <marker pos='[1050,250]' name='Vtorchermet NLMK' active='06_vtor4ermet_nlmk' type='recycle' angle="20"></marker>
        <marker pos='[900,200]' name='NSMMZ' active='09_nsmmz' type='production' angle="-45"></marker>

        <marker pos='[1700,300]' name='Altai-Koks' active='05_altai_koks' type='mine'></marker>

        <div style="padding: 50px 0 0 50px;position: absolute">
            <h1>Video tour</h1>
            <img style="margin-left:50px;   width: 100px;" src="/images/icons/virtual2.png" alt=""/>
        </div>
    </div>
</div>