<div class="col col-1">
    <div class="media-block">
        <div class="img">
            <img src="/img/media-block--img-1.jpg" />
        </div>
        <div class="desc">Визит Дмитрия Медведева на НЛМК</div>
    </div>
    <div class="media-block">
        <div class="img">
            <img src="/img/media-block--img-2.jpg" />
        </div>
        <div class="desc video">Созданы из стали (посвящается ветеранам НЛМК)</div>
    </div>
</div>
<div class="col col-2">
    <h1>Общая информация</h1>
    <p>С другой стороны дальнейшее развитие различных форм деятельност</p>

</div>