<div id="content">
    <div class="col col-1">
        <div class="media-block"  ng-click="m.popupService.show('/templates/gallery',false)">
            <slider total="17" division="europe"/>
        </div>
        <div class="media-block">
            <div class="img">
                <nvideo file="/videos/europe_en.mp4"></nvideo>
            </div>
        </div>
    </div>
    <div class="col col-2">
        <h1>NLMK Europe</h1>

        <p>NLMK Europe produces a wide range of HVA flats. NLMK’s industrial model is unique in Europe. It is based on the efficient supply of semi-finished products (slabs) from Russia to flexible, high-quality European processing facilities close to key customers.  </p>

        <p>NLMK Europe includes two business units: NLMK Europe Strip and NLMK Europe Plate. </p>


        <ul>
            <li>Global market share 18% – slabs Russian market share 24% – cold-rolled steel 21% – pre-painted steel  17% – galvanized steel 20% – rebar (̦у̙̦опоп̬а̛̏т̽  18% ̦а 20% ̦апа̦ел̛ ) Е̬̏опаʻЛʺКNLMK Europe NLMK Europe produces a wide range of HVA flats. NLMK’s industrial model is unique in Europe. It is based on the efficient supply of semi-finished products (slabs) from Russia to flexible, high-quality European processing facilities close to key customers.  NLMK Europe includes two business units: NLMK Europe Strip and NLMK Europe Plate.</li>
            <li>30% of Germany’s shipbuilding steel market</li>
            <li>Production capacity of 3.1 million tonnes a year </li>
            <li>Focus on high value-added products for the automotive, energy and machine building industries</li>
            <li>More than €500 million invested in upgrading facilities since 2007 </li>
        </ul>
    </div>
</div>