<div id="content">
    <div class="map">
        <marker pos='[1070,-70]' name='NLMK DanSteel A/S' type='production'></marker>
        <marker pos='[550,190]' name='NLMK Clabecq' type='production'></marker>
        <marker pos='[530,220]' name='NLMK La Louviere' type='production'></marker>
        <marker pos='[450,340]' name='NLMK Coating' type='production'></marker>
        <marker pos='[800,360]' name='NLMK Strasbourg' type='production'></marker>
        <marker pos='[1050,550]' name='NLMK Verona' type='production'></marker>
    </div>
</div>