<div id="content">
    <div class="map">
        <marker pos='[630,390]' name='NLMK Clabecq' type='production'></marker>
        <marker pos='[600,440]' name='NLMK Coating' type='production'></marker>
        <marker pos='[730,300]' name='NLMK DanSteel A/S' type='production'></marker>
        <marker pos='[640,440]' name='NLMK La Louviere' type='production'></marker>
        <marker pos='[690,400]' name='NLMK Strasbourg' type='production'></marker>
        <marker pos='[700,500]' name='NLMK Verona' type='production'></marker>
    </div>
</div>