<div id="content">
    <div class="map">
        <marker pos='[1060,-45]' name='NLMK DanSteel A/S' type='production'></marker>
        <marker pos='[550,230]' name='NLMK Clabecq' type='production'></marker>
        <marker pos='[500,260]' name='NLMK La Louviere' type='production'></marker>
        <marker pos='[430,360]' name='NLMK Coating' type='production'></marker>
        <marker pos='[760,390]' name='NLMK Strasbourg' type='production'></marker>
        <marker pos='[1000,590]' name='NLMK Verona' type='production'></marker>
    </div>
</div>