<div id="tourDIV" style="position:absolute; width:100%; height:100%;">
    <div id="panoDIV" style="width:inherit; height:inherit;">
        <noscript>
            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100%" height="100%"
                    id="tourdata/tour">
                <param name="movie" value="tourdata/tour.swf"/>
                <!--<param name="allowFullScreen" value="true"/>-->
            </object>
        </noscript>
    </div>

    <script type="text/javascript" src="tourdata/tour.js"></script>
    <script type="text/javascript">
        embedpano({
            swf: "tourdata/tour.swf"
            , target: "panoDIV"
            , wmode: "opaque"
        });
    </script>
</div>
