.view-animate-container {
    position: relative;
    height:  765px;
    position: relative;
    overflow: hidden;
}
.view-animate {
    padding: 0px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    transition: all 1.2s ease;
    display: block;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px;
}

.view-animate.ng-enter {
    top: 100%;
}
.view-animate.ng-enter.ng-enter-active {
    top: 0;
}
.view-animate.ng-leave.ng-leave-active {
    top: -100%;
}


#bg img{
    position: absolute;
    top:0;
    left:0;
    width: 1920px;
    height: 1080px;
}
#bg img{
    opacity: 1;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
}
#bg img.ng-hide{
    opacity: 0.5;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1)
}

#bg .ng-hide-add{
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
#bg .ng-hide-remove {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
    transition-delay: 0.6s;
}


#bg img.map{
    opacity: 1;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
}
#bg img.map.ng-hide{
    opacity: 0;
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
}
#bg img.map.group.ng-hide-add{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
#bg .map.ng-hide-add{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#bg .map.ng-hide-remove {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transition-delay: 0.4s;
}
.popup{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.popup.ng-hide{
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
}