.view-animate-container {
    position: relative;
    height:  765px;
    position: relative;
    overflow: hidden;
}
.view-animate {
    padding: 0px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    display: block;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px;
}

.view-animate.ng-enter {
    top: 100%;
}
.view-animate.ng-enter.ng-enter-active {
    top: 0;
}
.view-animate.ng-leave.ng-leave-active {
    top: -100%;
}


#bg img{
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 1s ease;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
}
#bg img.ng-hide{
    opacity: 0.5;
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transition-duration: 250ms;
}