<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Panel</title>
    <link href="css/all.css?2" rel="stylesheet">
</head>
<body ng-controller="mainController as m">


<div id="overlay" ng-click="m.closePopup()" ng-class="{'active':m.popupService.isShow}"></div>
<div id="bg">
    <img
            ng-show="$routeParams.division =='group' && controller == 'info'"
            src="/images/bg/info/group.jpg"/>
    <img
            ng-show="$routeParams.division =='russia' && controller == 'info'"
            src="/images/bg/info/russia.jpg"/>
    <img
            ng-show="$routeParams.division =='europe' && controller == 'info'"
            src="/images/bg/info/europe.jpg"/>
    <img
            ng-show="$routeParams.division =='usa' && controller == 'info'"
            src="/images/bg/info/usa.jpg"/>
    <img
            ng-show="$routeParams.division =='group' && controller == 'products'"
            src="/images/bg/products/group.jpg"/>
    <img
            ng-show="$routeParams.division =='russia' && controller == 'products'"
            src="/images/bg/products/russia.jpg"/>
    <img
            ng-show="$routeParams.division =='europe' && controller == 'products'"
            src="/images/bg/products/europe.jpg"/>
    <img
            ng-show="$routeParams.division =='usa' && controller == 'products'"
            src="/images/bg/products/usa.jpg"/>
    <img
            class="map group"
            ng-show="$routeParams.division =='group' && controller == 'map'"
            ng-src="/images/bg/map/group_{{m.i18nService.currentLanguage}}.jpg"/>
    <img
            class="map"
            ng-show="$routeParams.division =='russia' && controller == 'map'"
            src="/images/bg/map/russia.jpg"/>
    <img
            class="map"
            ng-show="$routeParams.division =='europe' && controller == 'map'"
            src="/images/bg/map/europe.jpg"/>
    <img
            class="map"
            ng-show="$routeParams.division =='usa' && controller == 'map'"
            src="/images/bg/map/usa.jpg"/>
    <img
            ng-show="$routeParams.division =='group' && controller == 'history'"
            src="/images/bg/history/group.jpg"/>
    <img
            ng-show="$routeParams.division =='group' && controller == 'highlights'"
            src="/images/bg/highlights/group.jpg"/>
    <img
            ng-show="$routeParams.division =='group' && controller == 'market'"
            src="/images/bg/market/group.jpg"/>

</div>
<div id="layout">
    <div class="popup" ng-show="m.popupService.isShow" ng-class="m.popupService.tclass">
        <div ng-include="m.getPopup()"></div>
    </div>

    <header>
        <div id="reloader" ng-click="m.reload()"></div>
        <div class="logo">
            <img
                    style="margin-top:-64px;width:280px;height:200px"
                    ng-src="/images/logo_{{m.i18nService.currentLanguage}}.png"/>
        </div>
        <div class="nav">
            <a href="#/info/group/{{m.i18nService.currentLanguage}}">
                <div class="item" ng-class="{'active':$routeParams.division == 'group'}">
                    <div class="name" ng-bind="m._('ui','group')"></div>
                    <div class="desc" ng-bind="m._('ui','nlmk')"></div>
                </div>
            </a>
            <a href="#/info/russia/{{m.i18nService.currentLanguage}}">
                <div class="item" ng-class="{'active':$routeParams.division == 'russia'}">
                    <div class="name" ng-bind="m._('ui','russia')"></div>
                    <div class="desc" ng-bind="m._('ui','nlmk')"></div>
                </div>
            </a>
            <a href="#/info/europe/{{m.i18nService.currentLanguage}}">
                <div class="item" ng-class="{'active':$routeParams.division == 'europe'}">
                    <div class="name" ng-bind="m._('ui','europe')"></div>
                    <div class="desc" ng-bind="m._('ui','nlmk')"></div>
                </div>
            </a>
            <a href="#/info/usa/{{m.i18nService.currentLanguage}}">
                <div class="item" ng-class="{'active':$routeParams.division == 'usa'}">
                    <div class="name" ng-bind="m._('ui','usa')"></div>
                    <div class="desc" ng-bind="m._('ui','nlmk')"></div>
                </div>
            </a>
            <a href="#/info/eco/{{m.i18nService.currentLanguage}}">
                <div class="item" ng-class="{'active':$routeParams.division == 'eco'}">
                    <div class="name">
                        <img ng-hide="$routeParams.division == 'eco'" style="height: 49px"src="/images/icons/ecology3.png" alt=""/>
                        <img ng-show="$routeParams.division == 'eco'" style="height: 49px"src="/images/icons/ecology4.png" alt=""/>
                    </div>
                    <div class="desc" ng-bind="m._('ui','nlmk')"></div>
                </div>
            </a>
        </div>
        <div class="lang" ng-click="m.toggleLanguage()">
            <div class="label ru">Русский</div>
            <div class="toggle" ng-class="m.i18nService.currentLanguage"></div>
            <div class="label en">English</div>
        </div>
        <div class="phone">
            <img ng-click="m.popupService.show('/templates/contacts',false,'small')" src="/images/icons/tel2.png" alt=""/>
        </div>
    </header>

    <div>
        <div class="view-animate-container">
            <div ng-view class="view-animate"></div>
        </div>
    </div>

    <footer>
        <div class="nav" ng-hide="$routeParams.division == 'eco' ">
            <navselector controller="controller"></navselector>
            <a ng-href="#/info/{{$routeParams.division}}/{{m.i18nService.currentLanguage}}">
                <div class="item"
                     ng-class="{'active':controller == 'info'}"
                     ng-bind="m._('ui','info')"></div>
            </a>
            <a ng-href="#/map/{{$routeParams.division}}/{{m.i18nService.currentLanguage}}">
                <div class="item"
                     ng-show="$routeParams.division == 'group'"
                     ng-class="{'active':controller == 'map'}"
                     ng-bind="m._('ui','map')"></div>
            </a>
            <a ng-href="#/history/{{$routeParams.division}}/{{m.i18nService.currentLanguage}}">
                <div class="item"
                     ng-show="$routeParams.division == 'group'"
                     ng-class="{'active':controller == 'history'}"
                     ng-bind="m._('ui','history')"></div>
            </a>
            <a ng-href="#/highlights/{{$routeParams.division}}/{{m.i18nService.currentLanguage}}">
                <div class="item"
                     ng-show="$routeParams.division == 'group' "
                     ng-class="{'active':controller == 'highlights'}"
                     ng-bind="m._('ui','highlights')"></div>
            </a>
            <a ng-href="#/products/{{$routeParams.division}}/{{m.i18nService.currentLanguage}}">
                <div class="item"
                     ng-class="{'active':controller == 'products'}"
                     ng-bind="m._('ui','products')"></div>
            </a>
            <a ng-href="#/map/{{$routeParams.division}}/{{m.i18nService.currentLanguage}}">
                <div class="item"
                     ng-hide="$routeParams.division == 'group'"
                     ng-class="{'active':controller == 'map'}"
                     ng-bind="m._('ui', 'map')"></div>
            </a>
            <a ng-href="#/market/{{$routeParams.division}}/{{m.i18nService.currentLanguage}}">
                <div class="item"
                     ng-show="$routeParams.division == 'group'"
                     ng-class="{'active':controller == 'market'}"
                     ng-bind="m._('ui','market')"></div>
            </a>
        </div>
    </footer>
</div>
<script src="js/vendor.min.js?2"></script>
<script src="js/all.min.js?2"></script>
</body>
</html>