<p>Группа НЛМК – крупнейший производитель стали в России и самая эффективная сталелитейная компания в
    мире. Производственные активы НЛМК расположены в России, Европе и США.
</p>
<p>
    Мощности по производству стали компании превышают 17 млн тонн в год, из которых около 16 млн тонн расположены в
    России. НЛМК располагает современными производственными мощностями, которые по уровню технологичности не уступают
    западным производителям.
</p>
<p>
    Компания поставляет свою продукцию более чем в 70 стран мира.
</p>
<p>
    НЛМК демонстрирует наиболее конкурентоспособную себестоимость среди мировых производителей, а прибыльность компании
    –
    самая высокая в отрасли. Рентабельность по показателю EBITDA по итогам 2 квартала 2014 года составила 21,2%.
</p>
