<div id="content" class='info'>
    <div class="col col-1">
        <div class="media-block">
            <slider total="20" division="group"/>
        </div>
        <div class="media-block">
            <div class="img">
                <div>
                    <videogular
                            vg-player-ready="onPlayerReady"
                            vg-complete="onCompleteVideo"
                            vg-update-time="onUpdateTime"
                            vg-update-volume="onUpdateVolume"
                            vg-update-state="onUpdateState"
                            vg-theme="config.theme.url"
                            vg-autoplay="config.autoPlay">
                        <vg-video vg-src="config.sources"></vg-video>
                    </videogular>

                </div>
            </div>
            <!--<div class="desc video">Созданы из стали (посвящается ветеранам НЛМК)</div>-->
        </div>
    </div>
    <div class="col col-2">
        <h1>Общая информация</h1>

        <p>
            Группа НЛМК – крупнейший производитель стали в России и самая эффективная сталелитейная компания в мире.
            Производственные активы НЛМК расположены в России, Европе и США.
        </p>
        <p>
            Мощности по производству стали компании
            превышают 17 млн тонн в год, из которых около 16 млн тонн расположены в России. НЛМК располагает
            современными производственными мощностями, которые по уровню технологичности не уступают западным
            производителям.
        </p>
        <p>
            Компания поставляет свою продукцию более чем в 70 стран мира.
        </p>
        <p>
            НЛМК демонстрирует наиболее
            конкурентоспособную себестоимость среди мировых производителей, а прибыльность компании – самая высокая в отрасли.
            Рентабельность попоказателю EBITDA по итогам 2 квартала 2014 года составила 21,2%.
        </p>

        <div>
            <div
                    line-chart="[[2009,10.6], [2010,11.7], [2011,12.8], [2012,15.2], [2013, 14.8]]"
                    chart-title="Подажа, млрд тон">

            </div>
            <div
                    line-chart="[[2009, 6.14],[2010, 8.35], [2011, 11.73], [2012, 12.16], [2013, 10.91]]"
                    chart-title="Выручка, млрд $">

            </div>
        </div>
    </div>
</div>