<div id="content" class='info'>
    <div class="col col-1">
        <div class="media-block">
            <slider total="20" division="group"/>
        </div>
        <div class="media-block">
            <div class="img">
                <pvideo file="/video/1.mp4" auto=true ></pvideo>
            </div>
            <!--<div class="desc video">Созданы из стали (посвящается ветеранам НЛМК)</div>-->
        </div>
    </div>
    <div class="col col-2">
        <h1>General information</h1>

        <p>NLMK Group is the largest steel manufacturer in Russia and the most efficient steel company in the world. NLMK production assets are located in Russia, Europe, and the United States. </p>
        <p>The Company’s steel processing capacity is over 17 million tonnes per year, of which about 16 million tonnes are produced in Russia. NLMK has an advanced processing capacity on par with that of Western manufacturers. </p>
    </div>
</div>