<div class="popup">
    <div class="content">
        <div class="title">ПО «Вторчермет»</div>
        <div class="gallery">
            <div class="full-img">
                <img src="/img/popup--full-img.jpg">
            </div>
            <div class="list-img">
                <div class="item active">
                    <img src="/img/popup--small-img-1.jpg">
                </div>
                <div class="item">
                    <img src="/img/popup--small-img-2.jpg">
                </div>
                <div class="item">
                    <img src="/img/popup--small-img-3.jpg">
                </div>
                <div class="item">
                    <img src="/img/popup--small-img-4.jpg">
                </div>
                <div class="item">
                    <img src="/img/popup--small-img-5.jpg">
                </div>
                <div class="item">
                    <img src="/img/popup--small-img-6.jpg">
                </div>
                <div class="item">
                    <img src="/img/popup--small-img-7.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="close"></div>
        <div class="tabs">
            <div class="item item-1"></div>
            <div class="item item-2"></div>
            <div class="item item-3 active"></div>
        </div>
    </div>
</div>