<div id="content" class="map">
    <div class="popuper" style="left: 56px;" ng-click="m.popupService.show('/templates/group/p_usa',false)"></div>
    <div class="popuper" style="left: 438px;" ng-click="m.popupService.show('/templates/group/p_europe',false)"></div>
    <div class="popuper" style="left: 814px;" ng-click="m.popupService.show('/templates/group/p_east',false)"></div>
    <div class="popuper" style="left: 1192px;" ng-click="m.popupService.show('/templates/group/p_africa',false)"></div>
    <div class="popuper" style="left: 1569px;" ng-click="m.popupService.show('/templates/group/p_asia',false)"></div>
</div>