<div id="content"class="map">

    <div class="popuper" style="left: 56px;" ng-click="m.popupService.show('/templates/group/p_usa',false,'small')"></div>
    <div class="popuper" style="left: 438px;" ng-click="m.popupService.show('/templates/group/p_europe',false,'small')"></div>
    <div class="popuper" style="left: 814px;" ng-click="m.popupService.show('/templates/group/p_east',false,'small')"></div>
    <div class="popuper" style="left: 1192px;" ng-click="m.popupService.show('/templates/group/p_africa',false,'small')"></div>
    <div class="popuper" style="left: 1569px;" ng-click="m.popupService.show('/templates/group/p_asia',false,'small')"></div>
</div>