<div class="content">
    <div class="img">
        <img src="/images/market/africa.jpg"/>
    </div>
    <p>
        На долю стран Африки приходится около <b>3%</b> продаж горячекатаного проката НЛМК, <b>1,2%</b> -
        трансформаторной стали, <b>0,5%</b>
        - холоднокатаного проката, <b>0,5%</b> - динамной стали.
    </p>

    <p>
        Сталь НЛМК используется в строительном секторе Африки и машиностроении.
    </p>
</div>
<div class="nav">
    <div class="close" ng-click="m.closePopup()"></div>
</div>
