<div class="content">
    <div class="img">
        <img src="/images/market/africa.jpg"/>
    </div>
    <p>African countries account for about <b>3%</b> of NLMK Group’s sales of hot-rolled products; as well as
        <b>1.2%</b> of grain oriented steel; <b>0.5%</b> of cold-rolled products and <b>0.5%</b> of non-grain oriented
        steel. </p>

    <p>NLMK’s steel is used in the African construction and machine building sectors. </p>
</div>
<div class="nav">
    <div class="close" ng-click="m.closePopup()"></div>
</div>
