<div class="content">
    <div class="img">
        <img src="/images/market/asia.jpg"/>
    </div>
    <p>Asian countries and Oceania account for <b>18%</b> of NLMK Group’s total sales. This region is one of the key
        export markets for grain oriented steel, with <b>20%</b> of the Group’s sales. </p>

    <p>NLMK has several service centres in Asia and Oceania: NLMK India Service Center Pvt. Ltd., NLMK Far East Trading
        Co. Ltd. and NLMK Singapore Sales Pte. Ltd.</p></div>
<div class="nav">
    <div class="close" ng-click="m.closePopup()"></div>
</div>
