<div class="content">
    <div class="img">
        <img src="/images/market/asia.jpg"/>
    </div>
    <p>
        На долю стран Центральной и Юго-Восточной Азии приходится <b>4%</b> продаж продукции НЛМК и около 5% выручки. Регион – один из ключевых направлений
        поставок трансформаторной стали, здесь реализуется более <b>20%</b> трансформаторного проката НЛМК.
    </p>

    <p>
        На континенте работают несколько сервисных и сбытовых центров НЛМК: NLMK India Service Center Pvt Ltd, NLMK Singapore Sales Pte. Ltd.
    </p>
</div>
<div class="nav">
    <div class="close" ng-click="m.closePopup()"></div>
</div>
