<div class="content">
    <p>
        На долю стран Азии и Океании приходится 18% продаж продукции НЛМК. Регион – один из ключевых направлений
        поставок трансформаторной стали, здесь реализуется более 20% трансформаторного проката НЛМК.
    </p>

    <p>
        На континенте работают несколько сервисных центров НЛМК: NLMK India Service Center Pvt Ltd, NLMK Far East
        Trading, NLMK Singapore Sales Pte. Ltd.
    </p>
</div>
<div class="nav">
    <div class="close" ng-click="m.closePopup()"></div>
</div>
