<div class="content">
    <div class="img">
        <img src="/images/market/asia.jpg"/>
    </div>
    <p>
        На долю стран Азии и Океании приходится <b>18%</b> продаж продукции НЛМК. Регион – один из ключевых направлений
        поставок трансформаторной стали, здесь реализуется более <b>20%</b> трансформаторного проката НЛМК.
    </p>

    <p>
        На континенте работают несколько сервисных центров НЛМК: NLMK India Service Center Pvt Ltd, NLMK Far East
        Trading, NLMK Singapore Sales Pte. Ltd.
    </p>
</div>
<div class="nav">
    <div class="close" ng-click="m.closePopup()"></div>
</div>
