<div class="content">
    <div class="img">
        <img src="/images/market/europe.jpg"/>
    </div>
    <p>
        В Европе работают несколько сервисных центров НЛМК: NLMK Deutschland GmbH, NLMK Distribution France S.A., NLMK
        Spain Steel S.L., Liege Steel Distribution S.A., NLMK Plate Baltic SIA, NLMK Sales Europe, NLMK Plates Sales.
    </p>

    <p>
        На долю стран Европы приходится около <b>22%</b> продаж продукции НЛМК и около <b>21%</b> выручки.
    </p>
</div>
<div class="nav">
    <div class="close" ng-click="m.closePopup()"></div>
</div>
