<div class="content">
    <div class="img">
        <img src="/images/market/europe.jpg"/>
    </div>
    <p>NLMK has several service centres in Europe: NLMK Deutschland GmbH, NLMK Distribution France S.A., NLMK Spain
        Steel S.L., Liege Steel Distribution S.A., NLMK Plate Baltic SIA, NLMK Sales Europe S.A. and NLMK Plates Sales
        S.A. </p>

    <p>European countries account for about <b>20%</b> of NLMK Group’s total sales.</p>
</div>
<div class="nav">
    <div class="close" ng-click="m.closePopup()"></div>
</div>
