<div class="content">
    <div class="img">
        <img src="/images/market/usa.jpg"/>
    </div>
    <p>
        На континенте работают несколько сервисных центров НЛМК: NLMK North America Plates LLC, NLMK South America Sales
        Pte. Ltd, - а также торговое и логистическое представительства в Бразилии.
    </p>

    <p>
        Бразильское представительство НЛМК предлагает производителям строительного и горнодобывающего оборудования
        премиальную стальную продукцию – износостойкую сталь марки Quard, высокопрочную сталь марки Quend.
    </p>

    <p>
        На долю стран континента приходится более <b>15%</b> продаж металлопродукции НЛМК и около <b>17%</b> выручки.
    </p>
</div>
<div class="nav">
    <div class="close" ng-click="m.closePopup()"></div>
</div>
