<div class="content">
    <p>NLMK has two service centres operating in the Americas – NLMK North America Plate LLC and NLMK South America Sales Pte. Ltd. – as well as a trade office and a logistics office in Brazil.  </p>
    <p>NLMK’s Brazilian representative offices offer premium steel products such as Quard abrasion resistant steel  and Quend high yield strength structural steel, serving manufacturers of construction and mining equipment.</p>
    <p>The North and South America account for over 7% of NLMK Group’s total sales.</p>
</div>
<div class="nav">
    <div class="close" ng-click="m.closePopup()"></div>
</div>
