<div id="content" class="page--products">
    <script>
        $(function () {
            $('#content .scroll-content').perfectScrollbar();
        });
    </script>
    <h1 ng-bind="m._('ui','products')"></h1>

    <div class="col col-1">
        <div class="list" ng-init="tab=0">
            <div class="item first"
                 ng-click="tab=0"
                 ng-class="{'active':tab == 0,'before-active':tab == 1}"
                 ng-bind="m._('products','slabs')"></div>
            <div class="item"
                 ng-click="tab=1"
                 ng-class="{'active':tab == 1,'before-active':tab == 2}"
                 ng-bind="m._('products','blank')"></div>
            <div class="item"
                 ng-click="tab=2"
                 ng-class="{'active':tab == 2,'before-active':tab == 3}"
                 ng-bind="m._('products','rod')"></div>
            <div class="item"
                 ng-click="tab=3"
                 ng-class="{'active':tab == 3,'before-active':tab == 4}"
                 ng-bind="m._('products','fittings')"></div>
            <div class="item"
                 ng-click="tab=4"
                 ng-class="{'active':tab == 4,'before-active':tab == 5}"
                 ng-bind="m._('products','steel')"></div>
            <div class="item last"
                 ng-click="tab=5"
                 ng-class="{'active':tab == 5}"
                 ng-bind="m._('products','hire')"></div>
        </div>
    </div>
    <div class="col col-2">
        <div class="container">
            <div class="scroll-content">

                <div class="text" ng-show="tab==0">
                    <div class="img">
                        <img src="/images/products/group/slabs.jpg"/>
                    </div>
                    <h2 ng-bind="m._('products','slabs')"></h2>

                    <p>
                        Толщина: <b>180 — 355мм</b><br/>
                        Ширина: <b>0.75 — 2.25м</b><br/>
                        Длина: <b>6 — 12м</b>
                    </p>
                    <h4>Производство</h4>

                    <p style="font-size: 18px;">
                        НЛМК производит стальные слябы различных химических свойств и
                        типоразмеров. Компания использует основной объем слябов в производстве плоского проката на
                        липецкой площадке, а также поставляет их на прокатные активы группы в Европе и США и другим
                        потребителям в России и зарубежом. «Широкие» слябы предназначены для последующего изготовления
                        из них толстого листа, в том числе на дочерних предприятиях в Европе – DanSteel и Clabecq.
                    </p>
                </div>
                <div class="text" ng-show="tab==1">
                    <div class="img">
                        <img src="/images/products/group/blank.jpg"/>
                    </div>
                    <h2 ng-bind="m._('products','blank')"></h2>

                    <p>
                        Длина: <b>6000 — 11700мм</b><br/>
                        Сечение: <b>125 x 125мм</b><br/>
                    </p>
                    <h4>Производство</h4>

                    <p style="font-size: 18px;">
                        Большую часть произведенных НЛМК заготовок направляется на экспорт прокатным компаниям,
                        которые специализируются на изготовлении арматуры и иной продукции главным образом для
                        строительного сектора.
                    </p>
                </div>
                <div class="text" ng-show="tab==2">
                    <div class="img">
                        <img src="/images/products/group/rod.jpg"/>
                    </div>
                    <h2 ng-bind="m._('products','rod')"></h2>

                    <p>
                        Диаметр: <b>5.5 — 22мм</b><br/>
                        Масса мотка: <b>1200 — 1450кг</b><br/>
                    </p>
                    <h4>Производство</h4>

                    <p style="font-size: 18px;">
                        НЛМК реализует катанку на российском рынке. Основные потребители – производители метизов
                        (проволоки, саморезов и гвоздей). Катанка используется в основном в строительном секторе.
                    </p>
                </div>
                <div class="text" ng-show="tab==3">
                    <div class="img">
                        <img src="/images/products/group/fittings.jpg"/>
                    </div>
                    <h2 ng-bind="m._('products','fittings')"></h2>

                    <p>
                        Класс: <b>A500C</b><br/>
                        Диаметр: <b>12 — 25мм</b><br/>
                    </p>
                    <h4>Производство</h4>

                    <p style="font-size: 18px;">
                        НЛМК производит арматуру на заводе НЛМК-Калуга в не посредственной близости от Москвы,
                        крупнейшего строительного рынка в России. Основная доля продаж приходится на внутренний
                        рынок. Арматура используется в основном для укрепления (армирования) железобетонных конструкций.
                    </p>
                </div>
                <div class="text" ng-show="tab==4">
                    <div class="img">
                        <img src="/images/products/group/steel.jpg"/>
                    </div>
                    <h2 ng-bind="m._('products','steel')"></h2>

                    <p>
                        Ширина: <b>до 1000мм</b><br/>
                        Толщина: <b>0.23 — 0.5мм</b><br/>
                    </p>
                    <h4>Производство</h4>

                    <p style="font-size: 18px;">
                        НЛМК является одним из ведущих производителей электротехнических сталей, занимая около 85
                        % российского рынка этой высокотехнологичной продукции. Производственные мощности на основной
                        площадке в Липецке и на ВИЗ-Стали в Екатеринбурге позволяют выпускать около 350 тыс. т.
                        трансформаторной и 380 тыс. т. динамной стали ежегодно. При этом Группа НЛМК производит 7%
                        всей трансформаторной стали в мире. Трансформаторный (анизотропный) прокат применяется в
                        электротехнической промышленности в производстве сердечников трансформаторов и неподвижных
                        частей электрических машин. Динамный (изотропный) прокат используется для производства
                        электротехнического оборудования, например, компонентов электродвигателей и генераторов.
                    </p>
                </div>
                <div class="text" ng-show="tab==5">
                    <div class="img">
                        <img src="/images/products/group/hire.jpg"/>
                    </div>
                    <h2 ng-bind="m._('products','hire')"></h2>

                    <p>
                        Ширина: <b>до 1850мм</b><br/>
                        Толщина: <b>1.5 — 1.6мм</b><br/>
                    </p>
                    <h4>Производство</h4>

                    <p style="font-size: 18px;">
                        Горячекатаный прокат используется для производства холоднокатаных рулонов и другой продукции
                        свысокой добавленной стоимостью на плоищадке в Липецк е и на ВИЗ-Стали. Горячий прокат, в
                        основном предназначен для производства металлоконструкций, дорожных ограждений, корпусов
                        судов, корпусов станков, деталей дорожной техники, сосудов, работающих под высоким давлением,
                        строительных конструкций.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>